

#S_main{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}

#S_left{
/* border: 1px solid; */
width: 15%;
margin-top: 220px;
}
#S_left>p{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}
#S_left>p:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .7px;
    line-height: 18px;
}
#S_left>p:nth-child(2){
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .4px;
    line-height: 16px;
}
#S_left>p:nth-child(3),#S_left>p:nth-child(4){
    font-size: 11px;
    font-weight:300;
    letter-spacing: .4px;
    line-height: 16px;
    color: rgb(105, 103, 103);
}
#S_left>p:nth-child(5){
    font-size: 11px;
    font-weight:300;
    line-height: 16px;
    color: rgb(105, 103, 103);
    text-decoration: underline;
    cursor: pointer;
}
#S_middle{
/* border: 1px solid blue; */
width: 35%;
position: relative;
}
#S_middle>img{
    width: 100%;
    height: 600px;
    cursor: pointer;
}
#S_middle>button{
    position: absolute;
            top: 250px;
            border:1px solid grey;
            background-color:   rgba(77,77,77,.2);
            /* border-radius: 100%; */
            width: 30px;
            height: 30px;
            font-size: 10px;
            color: white;
            cursor: pointer;
}
#S_middle>button:nth-child(2){
    left: 5%;
}
#S_middle>button:nth-child(3){
    right: 5%;
}
#S_right{
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
/* border: 1px solid blue; */
width: 15%;
/* height: 500px; */
}

#S_right>p:nth-child(1){
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .7px;
    font-weight: bold;
}
#S_right>p:nth-child(3){
    font-size: 12px;
    color: rgb(105, 103, 103);
    line-height: 16px;
    letter-spacing: .4px;
}
#S_right>p:nth-child(5){
font-size: 14px;
color: rgb(105, 103, 103);
line-height: 16px;
letter-spacing: .8px;
}
#S_right>p:nth-child(6){
    font-size: 12px;
    color: rgb(195, 186, 186);
    line-height: 16px;
    letter-spacing: .4px;
}

#S_right>button{
    margin-left: 10px;
    padding: 10px;
    width: 90%;
    color: white;
    background-color: black;
    line-height: 16px;
    letter-spacing: .7px;
    cursor: pointer;
}

#hover_div{
    width: 80px;
    height: 600px;
    /* border: 1px solid red; */
    margin-left: -100px;
}
#hover_div>div>img{
width: 100%;
height: 100px;
margin-top: 5px;
}
#S_like{
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
}
#like1>img{
    width: 100%;
}
#like2>img{
    width: 100%;
}
#like3>img{
    width: 100%;
}

.name{
    font-size: 14px;
    color: rgb(105, 103, 103);
    line-height: 16px;
    letter-spacing: .4px;
}

.price{
font-size: 14px;
color: rgb(105, 103, 103);
line-height: 16px;
letter-spacing: .8px;
}

.tx{
    font-size: 12px;
    color: rgb(195, 186, 186);
    line-height: 16px;
    letter-spacing: .4px; 
}
#S_like button{
    padding: 7px;
    width: 40%;
    background-color:white;
    line-height: 16px;
    letter-spacing: .7px;
    cursor: pointer;
}